# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm / other IDE stuff
.idea/
.vscode/

# Django/Flask/etc.
*.log
instance/
*.sqlite3

# mypy / type checking
.mypy_cache/
.dmypy.json
dmypy.json

# pyenv / poetry / pipenv
.python-version
poetry.lock
Pipfile.lock

# Local environment variables
*.env
*.env.*
.envrc

# Misc
*.DS_Store
cb_runs/
simpleDFAs/
symbolicDFAs/
